.markdown-body {
  color: #1a1a1b;
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 1px;
  margin-bottom: -1px;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &>:last-child {
    margin-bottom: 0;
  }
  &>:first-child {
    margin-top: 0;
  }
  blockquote, details, dl, ol, p, deckgo-highlight-code, table, ul {
    margin-top: 0;
    margin-bottom: 16px;
  }
  ol, ul {
    padding-left: 2em;
  }
  ul {
    list-style: disc outside!important;
  }
  ol ol, ol ul, ul ol, ul ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  li+li {
    margin-top: .25em;
  }
  a {
    color: #0079d3;
    text-decoration: underline;
  }
  // https://docs.deckdeckgo.com/components/code/#app-components-highlight-code-styling
  deckgo-highlight-code {
    --deckgo-highlight-code-font-size: 13px;
    --deckgo-highlight-code-font-size-weight: 400;
    --deckgo-highlight-code-line-height: 20px;
    --deckgo-highlight-code-font-family: Noto Mono,Menlo,Monaco,Consolas,monospace;
    --deckgo-highlight-code-padding: 0;
    --deckgo-highlight-code-margin: 0;
    --deckgo-highlight-code-token-atrule: #d73a49;
    --deckgo-highlight-code-token-function: #6f42c1;
    --deckgo-highlight-code-token-selector: #032f62;
    --deckgo-highlight-code-token-property: #005cc5;
    --deckgo-highlight-code-token-operator: #005cc5;
    --deckgo-highlight-code-token-comment: #6a737d;
    --deckgo-highlight-code-token-regex: #e36209;
  }
  code {
    color: #ff006d;
    margin: 0 2px;
  }
  code, deckgo-highlight-code, deckgo-highlight-code code {
    background: #f6f7f8;
    max-width: 100%;
    overflow: auto;
  }
  deckgo-highlight-code {
    display: grid;
    line-height: 1.4;
    margin: 4px 0;
    padding: 8px;
  }
  deckgo-highlight-code code {
    background-color: transparent;
    color: #1c1c1c;
    margin: 0;
  }
}